.category {
  > div {
    border-radius: 12px;
    // margin-bottom: 10px;
  }
}

.descriptionItem {
  display: flex;
  background-color: red;
}

.card {
  background-color: blue;
  border-radius: 20px;
  padding: 20px;
}
