.category {
  > div {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 10px;
  }
}

.descriptionItem {
  display: flex;
  background-color: red;
  transition: background-color 1s ease;
}